$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;

$primary_color: #2c3e50;
$clear_primary_color: #FFFFFF;
$sub_title_color: #526c85;
$link_color: #1abc9c;
$side_bar_width: 300px;

$side_bar_color: $primary_color;